#homepic0{
    background-color: bisque;
    margin-top:20px;
    margin-left: 425px;
}
#boxes{
    margin-top: 1px;
    height: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
       
}

#box-right{
    width: 200px;
    display:flex;
    align-items: center;
}

#logout{
    width: 50%;
    height:35px;
    margin-left:50px;
    text-decoration: none;
}

#box-text{
    display: flex;
    padding-left: 200px;
    text-align: center;
    padding-top:6px;
    font-size: 65px;
    text-decoration: underline;
    text-decoration-color: brown;
}

#all{
    
    border-style:solid;
    border-color:lightblue;
    height: 250px;
}

#depleft{
    width:100%;
    height: 250px;
    object-fit:contain;
    
}
#name{ 
    background-color: lightblue;
    margin-top: 0px;
    height:60px;
    font-size: 25px;
    display: inline-block;
    width : 100%;
    text-align: center;
    padding-top: 20px;
    
}
#depmid{
    width:100%;
    height :250px;
    object-fit:contain;

}

#depright{
    
    width:100%;
    height: 250px;
    object-fit:contain;  

}